$app-color-1: #ffffff;
$app-color-2: #111111;
$app-color-3: #3fff34;
$app-color-4: #e6e6e6;
$app-purple:#916ed8;
$app-blue: #32bad8;


body, html {
  font-family: "Roboto", sans-serif;
  background: $app-color-1;
  font-size: 40px;
  color: #011407;
}

* {
  margin: 0;
  padding: 0;
}

.big_logo{
  width: 300px;
  height: 300px;
}

.mainpage_logo{
  margin-bottom: 50px;
}

.small_logo{
  width: 100px;
  height: 100px;
}

.logo {
  background-image: url('../public/assets/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

mark {
  background: none;
  color: $app-color-3;
}

nav {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    li {
      margin-right: 5vw;
      font-size: 2em;
    }
  }
}

.top_left_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.classroom_overlay {
  position: fixed;
}

.sign_in_up{
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: .7em;
}

button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color:#916ed8;
  color:#ffffff;
  font-size:20px;
}

.icon {
  cursor: pointer;
}

.classroom_container {
  padding-top: 50px;  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.landing_page_buttons, .sign_in_up {
  display: flex;
  flex-direction: column;
}

.landing_page_container{
  height: 700px;

  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}



.images-buffer {
  display: none;
}

.game-ui {
  padding: 25px;
  border: 1px solid dimgray;
  border-radius: 15px;
}

.top_nav_bar {
  display: flex;
}


.help_pop_up {
  // used this resource to figure out how to center modal: https://stackoverflow.com/questions/39627549/how-to-center-modal-to-the-center-of-screen
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: fit-content;
  background-color: purple;
}

.help_background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba($app-color-1, 0.5);
}

.enter_name_container{
  margin:30px;
}

.name_container{
  display:flex;
  height: 400px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size:50px;
  font-family: 'Roboto';
  color:$app-purple
}

.enter_name_input{
  margin-top: 40px;
  background-color: $app-purple;
  border: none;
  width: 450px;
  height: 30px;
  border-radius: 18px;
  margin-bottom: 100px;
  color: white;
  font-size:18px;
  outline-style: none;
  text-indent: 20px;

}

.name_button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color:#916ed8;
  font-size: 20px;
  color:#ffffff
}

.icon{
  position: absolute;
  bottom:40px;
  left:40px;
}


.class_code_container{
  display:flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.class_code_input{
  margin-top: 40px;
  background-color: $app-purple;
  border: none;
  width: 550px;
  height: 30px;
  border-radius: 18px;
  margin-bottom: 100px;
  color: white;
  font-size:18px;
  outline-style: none;
  text-indent: 20px;
}

.button{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color:#916ed8;
  font-size: 20px;
  color:#ffffff
}

.help_button{
   display:absolute;
   left: 1300px;
   bottom:40px;
}

.joininfo_container{
  display:flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.join_info_body{
  margin-top: 50px;
  margin-bottom: 50px;
  color:$app-purple
}

.re-enter{
  width: 200px;
  font-size: 15px;
}

.out{
  margin:30px;
}

.enable_container{
  display:flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:50px;
}

.help_info{
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right:150px;
  color:$app-purple
}



.sign_in_up_container{
  height: 700px;

  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form_input{
  color:$app-purple;
}

.inputbar{
  display:inline-block;
  margin: 10px;
}

.signin_bar{
  margin-left: 20px;
  width: 300px;
  height: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color:#916ed8;
  font-size: 20px;
  color:#ffffff
}

.signin_button{
    margin-top:80px;
    margin-left: 200px;
  }

 .switch_sign_in_and_up{
   font-size: 30px;
   color:$app-purple;
 } 

 .signup_hint{
  display:inline-block;
  margin-left: 100px;
  margin-right:10px;
 }

 .signup{
   color:$app-blue;
   font-size:25px;
   text-decoration: none;
 }

 .warning{
   font-size:25px;
   margin-left:130px;
 }

.home_container{
  height: 500px;

  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home_hint{
  color:$app-purple
}
  
.logout_button{
  display:absolute;
  left:10px;
  width:100px;
  height:50px;
  font-size: 20px;
  font-style: bold;
}

.home_navigation_buttons{
  margin-top: 50px;
}
.join_logo {
  background-image: url('../public/assets/join.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
}
.start_logo {
  background-image: url('../public/assets/start.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
}
.design_logo {
  background-image: url('../public/assets/design.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
}

