$app-white: #E6E6E6;
$app-purple:#916ed8;
$app-blue: #32BAD8;



body, html {
  font-family: "Roboto", sans-serif;
  background: $app-white;
  font-size: 40px;
  color: #011407;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.big_logo{
  width: 300px;
  height: 300px;
}

.mainpage_logo{
  margin-bottom: 50px;
}

.small_logo{
  width: 100px;
  height: 100px;
}

.logo {
  background-image: url('../public/assets/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.account_icon{
  background-image: url('../public/assets/account_icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  width:50px;
  height:50px;
}

mark {
  background: none;
  color: $app-blue;
}

nav {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    li {
      margin-right: 5vw;
      font-size: 2em;
    }
  }
}

.top_left_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sign_in_up_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.sign_in_up_form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sign_in_up_button_and_text_container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: .7em;
}

button {
  border-radius: 10px;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  width: fit-content;
  cursor: pointer;
  background-color:#916ed8;
  color: $app-white;
  font-size: 35px;
  box-shadow: 0px 2px rgba(black, 0.2);
}
.signin_button{
  margin-top: 50px;
  margin-right: 150px;
}

.icon, .chat_button{
  cursor: pointer;
}

.classroom_container { 
  display: flex;
  flex-direction: column;
}

.classroom_overlay {
  display: flex;
}

.classroom_view {
  display: flex;
  justify-content: center;
}

.landing_page_buttons, .sign_in_up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing_page_container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.space{
  margin-top: 150px;
}

.images-buffer {
  display: none;
}

.game-ui {
  padding: 25px;
  border: 1px solid dimgray;
  border-radius: 15px;
}

.top_nav_bar {
  display: flex;
}


.help_pop_up {
  // used this resource to figure out how to center modal: https://stackoverflow.com/questions/39627549/how-to-center-modal-to-the-center-of-screen
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: fit-content;
  background-color: $app-purple;
}

.help_background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba($app-white, 0.5);
}

.enter_name_container{
  margin:30px;
}

.name_container{
  height: 70vh;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


h1{
  font-size:50px;
  font-family: 'Roboto';
  color:$app-purple
}

.enter_name_input{
  margin-top: 40px;
  background-color: $app-purple;
  border: none;
  width: 500px;
  height: 50px;
  border-radius: 18px;
  margin-bottom: 100px;
  color: white;
  font-size:28px;
  outline-style: none;
  text-indent: 20px;

}

.name_button {
  border: none;
  padding-left:30px;
  padding-right:30px;
  cursor: pointer;
  background-color:#916ed8;
  font-size: 35px;
  color: $app-white;
}

.icon{
  color: $app-purple,
}


.class_code_container{
  display:flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.class_code_input{
  margin-top: 40px;
  background-color: $app-purple;
  border: none;
  width: 550px;
  height: 30px;
  border-radius: 18px;
  margin-bottom: 100px;
  color: white;
  font-size:18px;
  outline-style: none;
  text-indent: 20px;
}

.cameras_view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

.camera_view {
  margin: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .icon {
    color: black;
  }
}

.professor_cam {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.student_cam {
  display: flex;
  justify-content: center;
  align-content: center;
}

.chat_button {
  display: flex;
  flex-direction: row;
  .t_chat {
    background-image: url('../public/assets/t_to_talk.png');
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: contain;
  }
  p {
    color: $app-purple;
  }
}

.button{
  border: none;
  cursor: pointer;
  background-color:#916ed8;
  font-size: 35px;
  padding-left: 30px;
  padding-right: 30px;
  color: $app-white;
}

.help_button{
   display:absolute;
   left: 1300px;
   bottom:40px;
}

.help_title{
  font-size: 35px;
  margin-bottom: 20px ;
  font-style: bold;
  color: white;
}

.join_info_container{
  display:flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.join_info_body{
  margin-top: 50px;
  margin-bottom: 50px;
  color:$app-purple
}

.out{
  margin:30px;
}

.class_code_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.enable_container{
  display:flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:50px;
}

.help_info{
  margin-top: 100px;
  margin-bottom: 50px;
  color: $app-purple;
}

.input_and_help_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
  font-size: 30px;
}


.sign_in_up_container{
  height: 100vh;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  button {
    margin-top: 2em;
  }
}

.warning {
  color: red;
  margin-top: 1em;
}

.form_input{
  color:$app-purple;
}

.inputbar{
  display:inline-block;
  margin: 10px;
}

.signin_bar{
  margin-left: 20px;
  width: 300px;
  height: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color:#916ed8;
  font-size: 20px;
  color: $app-white;
}
 .switch_sign_in_and_up{
   font-size: 30px;
   margin-right: 60px;
   margin-top: 20px;
   color:$app-purple;
   display: flex;
   text-align: center;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 } 

 .signup_hint{
  display:inline-block;
  margin-right:10px;
 }

 .signup{
   color: $app-blue;
   font-size:25px;
   text-decoration: none;
 }

 .warning{
   font-size:25px;
  
 }

.home_container{
  display:flex;
  height: 70vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home_hint{
  color:$app-purple
}
  
.logout_button{
  display:absolute;
  left:10px;
  width:100px;
  height:50px;
  font-size: 20px;
  font-style: bold;
}

.home_navigation_buttons{
  margin-top: 50px;
  .buttons {
    display: flex;
    flex-direction: row;
  }
}

.join_logo {
  background-image: url('../public/assets/join.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
}
.start_logo {
  background-image: url('../public/assets/start.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
}
.design_logo {
  background-image: url('../public/assets/design.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
}

.top_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100vw;
  height: fit-content;
}

.top_nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.bottom_left {
  position: fixed;
  left: 30px;
  bottom: 30px;
}

.menu_pop_up_quit {
  position: absolute;
  left: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
  background-color: $app-purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $app-white;
  border-radius: 20px;
  width: 6em;
  p {
    margin-bottom: 10px;
  }
  button {
    background-color: $app-white;
    color: $app-purple;
  }
  .menu_pop_up_quit_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  border-radius: 2px;
  box-shadow: 2px 2px rgba(black, 0.2);
}

.menu_pop_up {
  position: absolute;
  left: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
  background-color: $app-purple;
  display: flex;
  flex-direction: column;
  button {
    background-color: $app-white;
    color: $app-purple;
  }
  border-radius: 2px;
  box-shadow: 2px 2px rgba(black, 0.2);
}

.menu_pop_up_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba($app-white, 0.5);
}

.shared_slide {
  background-image: url('../public/assets/shared_slide.png');
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}

$char-w: 1ch;
$gap: .5*$char-w;
$n-char: 6;
$in-w: $n-char*($char-w + $gap);

// code for input spaced underline is adapted from here: https://codepen.io/thebabydino/pen/mRrPwB
#class_code_input {
	display: block;
	border: none;
	padding: 0;
	width: $in-w;
	background: repeating-linear-gradient(90deg, 
		$app-purple 0, $app-purple $char-w, 
		transparent 0, transparent $char-w + $gap) 
		0 100%/ #{$in-w - $gap} 2px no-repeat;
	font: 5ch Roboto, monospace;
	letter-spacing: $gap;

  color: $app-purple;
	
	&:focus {
		outline: none;
	}
}
.bottom_menu {
  display: flex;
  justify-content:space-between;
  button {
    height: fit-content; 
    align-self: flex-end;
  }
}
.shared_slide{
  height: 60vh;
  width: auto;
}
.side_cameras{
  .cams {
    position: fixed;
    margin-left: 26.5px;
  }
}
#toggle_cameras {
  width: 300px,
}

.choose_seat {
  color: $app-purple;
  text-align: center;
  font-weight: bold;
}

.help_pop_up{
  border-radius: 40px;
}

.help_info_container{
   color: $app-white;
   margin: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.ok_button{
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 20px;
  width: fit-content;
  cursor: pointer;
  background-color:$app-white;
  color:$app-purple;
  font-size: 30px;
}


